<ion-list>
<ion-header >
   <h1>Top [4] Quiz Categories : </h1></ion-header>
   <ion-item></ion-item>
   <ion-item> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
   <ion-icon name="barbell-outline" color="success" style="zoom:3.0;" ></ion-icon>
   &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  
<ion-label color="primary"> Play & Win...Win</ion-label>
</ion-item>
<br><br>
<ion-item>
1.&nbsp;&nbsp;<ion-icon name="book-outline"  color="secondary"></ion-icon>&nbsp;&nbsp;
<ion-button fill="outline" routerLink='/question'  color="secondary"> General Knowledge </ion-button>
</ion-item><br><br>
<ion-item>
2.&nbsp;&nbsp;<ion-icon name="clipboard-outline" color="success"></ion-icon>&nbsp;&nbsp;
<ion-button  fill="outline" color="success" routerLink='/question'> Mathematics      </ion-button>
</ion-item><br><br>
<ion-item>
3.&nbsp;&nbsp;<ion-icon name="desktop-outline" color="medium"></ion-icon>&nbsp;&nbsp;
<ion-button  fill="outline" color="medium" routerLink='/question' size="small">Technology</ion-button>
</ion-item><br><br>
<ion-item>
4.&nbsp;&nbsp;<ion-icon name="rainy-outline" color="tertiary"></ion-icon>&nbsp;&nbsp;
<ion-button color="tertiary" fill="outline" routerLink='/question'>Physical Science</ion-button>
</ion-item>
</ion-list>
 